@model DC3Safe.Models.WorkerInformation

@{
    ViewData["Title"] = "Detalles de Trabajador";
}

<h1>Detalles de Trabajador</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nombre
        </dt>
        <dd class="col-sm-10">
            @Model.LastName @Model.LastName2 @Model.FirstName
        </dd>
        <dt class="col-sm-2">
            Clave Única de Registro de Población (CURP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Curp)
        </dd>
        <dt class="col-sm-2">
            Ocupación específica (Catálogo Nacional de Ocupaciones)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Occupation.Name)
        </dd>
        <dt class="col-sm-2">
            Puesto
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Position)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Regresar a la lista</a>
</div>
